body {
    background: url('../img/mooning.png');
}

.raleway {
    font-family: 'Raleway', 'Roboto', sans-serif;
}

#titleholder{
    padding: 15px;
    margin: .75rem 0;
    background-color: #c7e6fd;
}

#title-box{
    height: 140px;
}

#title{
    text-align: center;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 5rem;
}

.underline {
    border-bottom: 1px solid #999999;
    padding-bottom: 10px
}

.blue-box {
    color: #00b0ff
}

.image{
    height: 185px;
    margin-bottom: .75rem;
    background-size: cover;
}

.text-col {
    min-height: 577.75px!important;
    padding-left: 1rem;
    overflow: auto;
    position: relative;
}

ul{
    padding-left: 1.5rem
}

li{
    color: #6898e4;
}

li span{
    color: black
}

#img-1{
    background-image: url('../img/outside.jpg');
}
#img-2{
    background-image: url('../img/main-office-2.jpg');
}
#img-3{
    background-image: url('../img/breakout.jpg');
}

#logo{
    max-width: 210px;
    width: 90%
}

#contact{
    position: absolute;
    bottom: 0;
}

.last{
    margin-bottom: 133px
}

@media only screen and (min-width: 777px) {
    #contact{
        margin-top: 184px;
    }
}

@media only screen and (min-width: 600px) {
    #right-strip{
        padding-left: 0
    }
}

@media only screen and (max-width: 600px) {
    #titleholder{
        margin-bottom: 0;
    }
    #img-1{
        height: 330px
    }
    #img-2, #img-3{
        display: none
    }
}
@media only screen and (max-width: 400px) {
    #title{
        font-size: 4rem;
    }
}

